@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

/* shared style */
.bg-secondary {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.btn-secondary {
  color: #fd6e0a;
  margin-left: 15px;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  font-size: 20px;
}

.section-title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: #181818;
}

.section-description {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

/* header styles */
.header-img {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles start */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}

.banner-content {
  max-width: 580px;
}

.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  line-height: auto;
}

.banner-heading {
  font-size: 85px;
  font-weight: bold;
  line-height: auto;
}

.banner-paragraph {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.banner-profile-pic {
  width: 583px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about styles */
.about {
  border-radius: 10px;
  margin-top: 130px;
  text-align: center;
  align-items: center;
  padding: 131px 157px 131px 156px;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-size: 20px;
}

.item-description {
  font-size: 20px;
  font-weight: bold;
}

/* skill styles */
.skills-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
  align-items: center;
  gap: 24px;
}

.skill {
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px 0px #000000;
}
