@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

/* header styles */
.header-img {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles start */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  line-height: auto;
}

.banner-heading {
  font-size: 85px;
  font-weight: bold;
  line-height: auto;
}

.banner-paragraph {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.banner-profile-pic {
  width: 583px;
}
